@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
ul,
li,
button,
input,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: #202024;
  min-height: 100vh;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-input input {
  padding: 16px;
  background-color: #121214;
  border-radius: 6px;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  color: #7c7c8a;
}

.btn-calcular {
  padding: 12px 20px;
  background-color: #00875f;
  border: none;
  border-radius: 6px;
  
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.container-checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.checkbox-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;

  background-color: #29292E;
  padding: 16px 24px;
  border-radius: 6px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  color: #c4c4cc;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #c4c4cc;
}

.item-result {
  display: flex;
  flex-direction: column;
  gap: 2px;

  background-color: #323238;
  padding: 16px;
  border-radius: 6px;
}

.item-result h3 {
  font-size: 16px;
  font-weight: 400;
  color: #c4c4cc;
}

.item-result p {
  font-size: 24px;
  font-weight: 700;
  color: #e1e1e6;
}

.item-history {
  display: flex;
  flex-direction: column;
  gap: 4px;
   
  background-color: #29292e;
  padding: 20px;
  border-radius: 6px;
}

.item-history h3 {
  font-size: 16px;
  font-weight: 400;
  color: #c4c4cc;
}

.item-history p {
  font-size: 20px;
  font-weight: 700;
  color: #f75a68;
}

#price-list,
#historic-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}