@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #323238;
  min-height: 100vh;
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-input input {
  padding: 16px;
  background-color: #121214;
  border-radius: 6px;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  color: #7c7c8a;
}

.btn-calcular {
  margin-top: 24px;

  padding: 12px 20px;
  background-color: #00875f;
  border: none;
  border-radius: 6px;
  
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}