@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body,
ul,
li,
button,
input,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.theme {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  background-color: var(--background-body);
  min-height: 100vh;
}

@media (min-width: 720px) {
  .theme {
    max-width: 720px;
    margin: 0 auto; 
  }
}

.input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 720px) {
  .input {
    flex-direction: row;
  }
}

.input__field {
  padding: 16px;
  border: none;
  outline: none;

  font-size: 16px;
  font-weight: 400;
  color: var(--gray-100);
  
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-600);
}

.btn--calculate {
  padding: 12px 20px;
  background-color: #00875f;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  
  font-size: 16px;
  font-weight: 700;
  color: #FBF9FE;
}

.checkbox {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
}

.checkbox__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;

  background-color: var(--background-checkbox);
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid var(--gray-500);
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  color: var(--gray-100);
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-100);
}

.item-result {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 16px;

  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-700);
}

.item-result h3 {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-200);
}

.item-result p {
  font-size: 24px;
  font-weight: 700;
  color: var(--gray-100);
}

.item-history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
   
  padding: 20px;

  border-radius: 8px;
  border: 1px solid var(--gray-300);
  background-color: var(--gray-700);
}

.item-history__title {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-100);

  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.item-history__price {
  font-size: 20px;
  font-weight: 700;
  color: #f75a68;
}

.item-history__user {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-200);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input__field.error {
  border: 1px solid red;
}

.delete-button {
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  padding: 8px;

  color: #FBF9FE;
  background-color: #E74F3E;
  border-radius: 50%;
}

.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.theme__btn {
  display: flex;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  cursor: pointer;
  stroke: var(--gray-100);
}

.theme__btn--sun {
  display: none;
}

.theme--dark .theme__btn--moon {
  display: none;
}

.theme--dark .theme__btn--sun {
  display: block;
}

.theme {
  transition: background-color .3s ease, color 0.5s ease;
}

.theme--light {
  --background-body: #F4F4F4;
  --background-checkbox: #FFFFFF;
  --gray-100: #17171A; 
  --gray-200: #707070;
  --gray-300: #E0E0E0; 
  --gray-500: #E0E0E0; 
  --gray-600: #FFFFFF; 
  --gray-700: #FFFFFF; 
}

.theme--dark {
  --background-body: #0C0C0D;
  --background-checkbox: #252529;
  --gray-100: #FBF9FE;
  --gray-200: #AFABB6;
  --gray-300: #252529;
  --gray-500: #555555;
  --gray-600: #0C0C0D;
  --gray-700: #17171A;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.menu li a,
.menu li button {
  display: block;
  border: none;
  text-decoration: none;
  background: transparent;
  padding: 10px;
  cursor: pointer;
  
  font-weight: 700;
  font-size: 14px;
  color: var(--gray-100);
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
}

[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  [data-menu="button"] {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    cursor: pointer;

    padding: 8px 16px;
    border-radius: 4px;
    
    text-transform: uppercase;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    color: var(--gray-100);
    background-color: var(--background-checkbox);
  }

  [data-menu="button"]::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: var(--gray-100);
    box-shadow: 0 4px var(--gray-100), 0 -4px var(--gray-100);
    transition: transform .3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  #menu {
    display: none;
    position: absolute;
    top: 65px;

    background-color: var(--background-checkbox);
    border: 1px solid var(--gray-500);
    color: var(--gray-100);
    border-radius: 6px;
  }

  #menu.active {
    display: block;
    animation: show-right .3s forwards;
  }
}